{% set fileExtPreviewShared = file.fileExtension|default('')|lower %}
{% set fileIsPreviewImageShared = fileExtPreviewShared in ['png', 'jpg', 'jpeg', 'gif', 'webp', 'svg', 'bmp'] %}
{% set fileIsPreviewPdfShared = fileExtPreviewShared in ['pdf'] %}
{% set fileIsPreviewVideoShared = fileExtPreviewShared in ['mp4', 'webm', 'ogv', 'mov'] %}
{% set fileIsPreviewAudioShared = fileExtPreviewShared in ['mp3', 'mpeg', 'wav', 'ogg', 'm4a', 'aac'] %}
{% set fileIsPreviewTextShared = fileExtPreviewShared in ['txt', 'log', 'md', 'markdown', 'json', 'csv', 'tsv', 'xml', 'yml', 'yaml', 'ini', 'conf'] %}
{% set fileCanMediaPreviewShared = fileIsPreviewImageShared or fileIsPreviewPdfShared or fileIsPreviewVideoShared or fileIsPreviewAudioShared or fileIsPreviewTextShared %}
<div class="dropdown files-actions-dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="files-actions-{{ file.id }}" data-bs-toggle="dropdown" aria-expanded="false">{{ 'files.action.label'|trans({}, 'messages', currentLocale) }}</button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="files-actions-{{ file.id }}">
        {% include 'files/_files_actions_dropdown_scroll_open.html.twig' %}
        <li>
            <button type="button" class="dropdown-item" data-files-row-action="properties" data-files-row-action-scope="shared" data-files-row-id="{{ file.id }}">{{ 'files.action.properties'|trans({}, 'messages', currentLocale) }}</button>
        </li>
        {% if fileCanMediaPreviewShared %}
        <li>
            <button
                type="button"
                class="dropdown-item"
                data-files-media-preview-trigger
                {% if fileIsPreviewImageShared %}
                data-src="{{ path('files_download', { id: file.id }) }}"
                data-media-preview-type="image"
                data-alt="{{ file.originalFileName }}"
                {% else %}
                data-src="{{ path('files_preview', { id: file.id }) }}"
                data-media-preview-type="{% if fileIsPreviewPdfShared %}pdf{% elseif fileIsPreviewVideoShared %}video{% elseif fileIsPreviewAudioShared %}audio{% elseif fileIsPreviewTextShared %}text{% else %}audio{% endif %}"
                {% endif %}
                data-title="{{ file.originalFileName }}"
            >{{ 'files.action.preview'|trans({}, 'messages', currentLocale) }}</button>
        </li>
        {% endif %}
        <li>
            <a class="dropdown-item" href="{{ path('files_download', { id: file.id }) }}" data-files-download-link data-files-byte-size="{{ file.byteSize }}" data-files-download-id="{{ file.id }}">{{ 'files.action.download'|trans({}, 'messages', currentLocale) }}</a>
        </li>
        {% include 'files/_files_actions_dropdown_scroll_close.html.twig' %}
    </ul>
</div>
